*.ropeproject
*ycm_extra_conf*
compile_commands.json
bin
*.o
CLI/bin
CLI/build
*_back
trash
bui.sh
kurjun/*
python_src

# extra libs
/third-party/python*
/third-party/curl
/third-party/openssl
/third-party/libssh

# linux build
*.swp
*.swo
config.make
UI/Builds/LinuxMakefile/build
deploy.sh
package/subutai*
package/linux/debian/fonts
package/linux/debian/icons
*.deb
*.debhelper

# windows build
*.sdf
*.filter*
*.user
*.opendb
*.obj
*.tlog
*.lastbuildstate
*.lib
*.pdb
.vs
subutai-launcher/Debug
subutai-launcher/x64
subutai-launcher/.vs
subutai-launcher/ipch
subutai-laucher/Debug
UI/Builds/VisualStudio2015/.vs/
UI/Builds/VisualStudio2015/Debug/
/win/
/Debug
/x64
/testsuite/Debug
/testsuite/x64
build/launcher-windows/subutai-launcher/x64/
build/launcher-windows/UI/x64
build/launcher-windows/UI/Win32
build/launcher-windows/TestSuite/Debug
package/windows/Debug
package/windows/Release
package/windows/launcher-installer/Debug
package/windows/launcher-installer/Release

# python
__pycache__
*.pyc
py-embed/*.c*
py-embed/Makefile

# misc
/deploy
*.log
p2p
md5-*
*.zip

# runtime
lnchr.conf

# Macos package
/package/darwin/flat/base.pkg/PackageInfo
/package/darwin/flat/Distribution
/package/darwin/root
*.pkg
.DS_Store

# Linux package
/package/linux/debian/debhelper-build-stamp
/package/linux/debian/subutai-launcher.substvars
/package/linux/debian/subutai-launcher.debhelper.log
/package/linux/debian/subutai-launcher
/package/linux/debian/SubutaiLauncher
/package/linux/debian/python

qt_launcher.pro
qt_launcher.pro.user
