*.ropeproject
*ycm_extra_conf*
compile_commands.json
bin
build/*.o
CLI/bin
CLI/build
*_back
trash
bui.sh
kurjun/*

# extra libs
/third-party/python*
/third-party/curl
/third-party/openssl
/third-party/libssh

# linux build
*.swp
*.swo
config.make
UI/Builds/LinuxMakefile/build
deploy.sh

# windows build
*.sdf
*.filter*
*.user
*.opendb
subutai-launcher/Debug
subutai-launcher/x64
subutai-launcher/.vs
subutai-launcher/ipch
subutai-laucher/Debug
UI/Builds/VisualStudio2015/.vs/
UI/Builds/VisualStudio2015/Debug/
/win/
/Debug
/x64
/testsuite/Debug
/testsuite/x64

# python
__pycache__
*.pyc

# misc
/deploy
*.log
p2p
md5-*

# runtime
lnchr.conf
